.gradient-text {
  background: linear-gradient(
    to left, 
    rgb(26, 166, 255) 0%,
    rgb(120, 255, 255) 33%,
    rgb(120, 255, 255) 66%,
    rgb(26, 166, 255) 100%
    );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: gradient-shift 30s ease infinite; */
}

@keyframes gradient-shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Keyframes for rotation */
@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Applying the animation to an element */
.rotate-slow {
  animation: rotation 60s linear infinite;
}

@tailwind base;
@tailwind components;
@tailwind utilities;